*{
   font-family: 微软雅黑；
   color: black;
   background-color: #e3f2fd;
}

header{
  display: flex;
  height: 50px;
  border-bottom: 1px solid #eee;
  text-align:center;
}

footer
{
    position: fixed; /* 相对于浏览器绝对位置*/
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    text-align:center;
    border-top: 1px solid #eee;
    font-size: 16px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4
{
    font-weight: normal; /* 字体的粗细：正常*/
    padding: 0;
    margin: 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-top: 10px;
}

img{border:none;}
body{margin:0;padding:0;overflow-x:hidden;}
dl,dt,dd{display:block;margin:0;}

div.container{
  height: 500px;
  width: 1280px;
  margin: 0px;
}
.leftsidebar_box{
  width:160px;
  height:auto !important;
  overflow:visible !important;
  position:fixed;
  height:100% !important;
  background-color:#3992d0;
}
.line{
  height:2px;
  width:100%;
  background-image:url(images/line_bg.png);
  background-repeat:repeat-x;
}
.leftsidebar_box dt{
  padding-left:20px;
  padding-right:10px;
  background-repeat:no-repeat;
  background-position:10px center;
  color:#f5f5f5;
  font-size:16px;
  position:relative;
  line-height:48px;
  cursor:pointer;
}
.leftsidebar_box dd{
  background-color:#317eb4;
  padding-left:40px;
}
.leftsidebar_box dd a{
  color:#f5f5f5;
  line-height:20px;
}
.leftsidebar_box dt i{
  position:absolute;
  right:10px;
  top: 12px;
  color: white;
  background-color: transparent;
}
.system_log dt{
  background-image:url(images/system.png)
}
.custom dt{
  background-image:url(images/custom.png)
}
.channel dt{
  background-image:url(images/channel.png)
}
.app dt{
  background-image:url(images/app.png)
}
.cloud dt{
  background-image:url(images/cloud.png)
}
.syetem_management dt{
  background-image:url(images/syetem_management.png)
}
.source dt{
  background-image:url(images/source.png)
}
.statistics dt{
  background-image:url(images/statistics.png)
}
.leftsidebar_box dl dd:last-child{
  padding-bottom:10px;
}
